// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-wrapper {
  position: absolute;
  left: 40%;
  right: 50%;
  top: 30%;

}

#description
{
  height:150px;
}

